*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    min-width: 100%;
    height: 100vh;
}

nav{
    padding: 2px 5%;
    border-bottom: 1px solid rgb(225, 216, 216);
    box-shadow: 2px 2px 4px rgb(228, 228, 228);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}
#logoContainer{
  display: grid;  
  grid-template-columns: auto auto;
  column-gap: 5px;
}
#pageLinks{
    display: flex;
    justify-content: center;
    align-items: center;     
    flex-wrap: wrap;
}   
.pageLink{
    display: inline-block;
    padding: 10px;
    margin: 10px 7px;
    border-radius: 4px;
    transition: 0.4s;
    text-decoration: none;
    color: black;
    font-size: 13px;
    text-align: center; 
    letter-spacing: 1.2px;   
}
.pageLink:hover{
    background-color: black;
    color: rgb(16, 149, 222);
    transform: scale(1.05);
}

.active{
    color: rgb(16, 149, 222);
    transform: scale(1.05);
    font-weight: bold;

}

#banner{
    background : black;
    color: white;
    display: grid;    
    padding-left: 5%;
    grid-template-columns: 40% auto;
    
}

.content{
    margin: 50px 0;
    margin-right: 15%;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px;
}
.content p{
    text-align :left;
    margin-top: 10px;
    line-height: 23px;
    
}
.images{
    background-image: url('Resources/banner2.jpeg');
    background-size: cover; /* Adjust as needed */
    background-position: 40% 40%;
    background-repeat: no-repeat;
    
}
/* Tablet View */
@media screen and (max-width: 700px) {

    #banner{
        background : black;
        color: white;
        display: block;    
        padding: 3% 5%;
        position: relative;                       
    }

    .content{
        margin: 0 0;
        margin-right: 0;
        line-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 1.5px;
    }    
    .images{
        margin-top: 10px;
        border-radius: 3px;
        width: 100%;
        height: 300px;
    }

  }


  #comingSoon{
    display: grid;
    padding: 20px 5%;
    grid-template-columns: 5% auto 5%;
    column-gap: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 3px gray, 2px 0px 3px white;
    
  }
  #comingSoon>div{
    border: 0px solid;
  }

  #card-wapper{
    display: flex;
    align-items: center;
    
    justify-items: start;
    overflow: hidden;
  }

  .card{
    position: relative;
    width: 30%;    
    min-width: 300px;
    min-height: 200px;
    border: 1px solid green;
    display: grid;
    grid-template-columns: 45% auto;
    column-gap: 10px;
    padding: 10px;
    background-color: rgb(250, 219, 18);
    overflow: hidden;
    border-radius: 7px;
    margin : 0 15px 0 0;
    cursor: pointer;
    transition: 0.3s;
  }
  .card:hover{
    background-color: black;
    color: white;
  }

  .card:hover > .description div button{
    background-color: rgb(1, 204, 38);
  }
  
  .card h1{
    margin-bottom: 5px;
  }
  .card p{
    text-align: left;
    font-size: 13px;
    margin-bottom: 10px;
    
  }
.card button{
    border: none;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
}
.card button:hover{
 transform: scale(1.10);
 background-color: rgb(1, 204, 38);
 font-weight: bold;
}

.card .poster{
    background-image: url('Resources/dog-walking.jpg');
    background-size: cover; 
    background-position: 40% 40%;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(95, 95, 95);        
}
#leftArrow, #rightArrow{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s; cursor: pointer;
}   

#leftArrow:hover, #rightArrow:hover{
transform: scale(1.10);
}
#leftArrow img, #rightArrow img{
    height: 60px;
}
#rightArrow img{
    transform: rotate(180deg);
}

.dog-taining{
    max-width: 100%;
    box-sizing: border-box;
    height: 300px;
    
    position: relative;
    background-image: url('Resources/dog-training.jpg');
    background-size :70% auto;
    background-position: 100% 30%;
    background-repeat: no-repeat;

}
.adv{
    position: absolute;
    box-sizing: border-box;
    width: 60%;
    border: 1px solid rgb(233, 233, 233) ;
    height: 100%;    
    padding: 15px 15% 15px 5%;
    clip-path: polygon(0 0, 100% 0%, 61% 100%, 0% 100%);
    background-color: rgb(182,74,71);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adv h1{color: rgb(255,249,201); margin-bottom: 7px;}
.adv p{letter-spacing: 1.3px;}
.adv h3{margin-top: 20px; padding: 10px 20px; color: black; background-color: white; display: inline-block;}


#about-us{
    display: grid;
    grid-template-columns: 30% auto;
    letter-spacing: 1.4px;    
}
#about-us  > div:first-child{
    background: rgb(89, 89, 89);
    padding: 30px 0 30px 15%;
    font-size: xx-large;
    color: wheat;
}
#about-us  > div button{
    border: none;
    background: black;
    color: white;
    font-size:17px;
    letter-spacing: 1.3px;
    padding: 10px;
    border-radius: 20px;

}

#about-us > div:nth-child(2){
    padding:30px 5%  ;
    background: black;
    color: white;
}
#about-us h2{padding-left: 10px; border-left: 5px solid white; border-radius: 5px;}
#about-us h4{margin: 10px 0;  font-weight: lighter;}

#footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 5%;
    line-height: 24px;

}
#footer ul{list-style: none;}